.button {
  display: inline-flex;
  height: 56px;
  align-items: center;
  padding: 16px 44px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  background-color: #DB0019;
  color: #FFFFFF;
}

.button:hover{
  background-color: #e54a5c;
}

.button_filter{
  gap: 8px; 
  padding: 16px 44px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  background-color: #344051;
  margin-top: auto;
}

.button_filter:hover{
  background-color: #555c66;
}

.button_catalog{
  padding: 16px 114px;
}

.button_brone-back{
  padding: 16px 79px;
  background-color: #FFFFFF;
  border: 1px solid #CED2DA;
  color: #344051;
  font-weight: 600;
}


.button_brone-back:hover{
  background-color: #e5e5e5;
}

.button_brone{
    padding: 16px 32px;
}