.search-section{
    margin: 48px 0px;
    margin-bottom: 36px;
    gap: 16px;
    padding: 24px;
    padding-top: 16px;
    background-color: #F3F4F6;
    border-radius: 16px;
    display: inline-flex;
}
